langchain==0.0.350
openai==0.28.1
chromadb==0.4.15
tiktoken==0.5.1
pydantic==1.10.13
litellm==0.10.0
ipykernel==6.27.1
langchain-openai==0.0.2
boto3==1.33.2
aioboto3==12.3.0
fastapi==0.104.1
uvicorn[standard]==0.24.0
python-dotenv==1.0.0
requests==2.31.0
